<!-- begin container for fullinfo on the shopping cart -->
<div class="main-header__fullinfo" data-fullinfo-container="fullinfo">
  <button
    id="cart-item-details-back"
    class="header__back btn-back"
    data-fullinfo-close="fullinfo"
    data-toggle-class-target="sidebar-header"
    data-toggle-class-remove="is-disabled"
  >
    <i class="icon icon-back btn-back__icon"></i>
    <span class="btn-back__title">Back</span>
  </button>
</div>
<!-- end container for fullinfo on the shopping cart -->