---
title: 'Approval Request'
disableHeader: true
mainClass: 'main_cart'
---
{% extends "layouts/_layout.html" %}
{% import "partials/mixins/_header.html" as header %}

{% block content %}
	
	<div class="inner">
		{{header.cart()}}
		{{sidebar.cart()}}
		<div class="container container_right"></div>
		<div class="container container_overlay" data-fullinfo-container="fullinfo">
			<div class="container__body">
				{{tabs.call({
					classList: 'tabs_lg container__content',
					name: 'item-info',
					list: [
						{
							name: 'discount',
							text: 'Discount',
							content: 'partials/components/cart/_discount-approval-request.html'
						},
						{
							name: 'return-reason',
							text: 'Return reason',
							content: 'partials/components/cart/_return-reason.html'
						},
						{
							name: 'placeholder-1',
							text: 'Placeholder',
							content: 'partials/components/cart/_placeholder.html'
						},
						{
							name: 'placeholder-2',
							text: 'Placeholder',
							content: 'partials/components/cart/_placeholder.html'
						},
						{
							name: 'placeholder-3',
							text: 'Placeholder',
							content: 'partials/components/cart/_placeholder.html'
						},
						{
							name: 'placeholder-4',
							text: 'Placeholder',
							content: 'partials/components/cart/_placeholder.html'
						},
						{
							name: 'placeholder-5',
							text: 'Placeholder',
							content: 'partials/components/cart/_placeholder.html'
						}
					]
				})}}
				<div class="container__submit">
					<div class="form form_sm">
						<button class="btn btn_lg btn_primary btn_wide text-uppercase" data-animation="ripple" value="Done">Send Request</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
