---
title: 'Approval Request'
headerTitle: 'Discount approval request'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{sidebar.static({
		discount: true,
		header: [ 'Requested by: Simon Carter', 'Customer: John Doe' ],
		items: [
			{
				title: '7 32GB SVR',
				description: 'SN: 0722222222224426',
				qty: '1x',
				price: '$100.0',
				totalPrice: '$100.00',
				category: 'technique'
			},
			{
				title: 'MacBook Pro',
				qty: '1x',
				price: '$2000.00',
				totalPrice: '$2000.00',
				category: 'technique'
			},
			{
				title: 'Pizza Karbonara',
				qty: '1x',
				price: '$39.00',
				totalPrice: '$39.00',
				category: 'fast-food'
			},
			{
				title: 'Burger',
				qty: '1x',
				price: '$37.00',
				totalPrice: '$37.00',
				category: 'fast-food'
			},
			{
				title: 'Pasta',
				qty: '1x',
				price: '$22.00',
				totalPrice: '$22.00',
				category: 'food fast-food'
			},
			{
				title: 'iPhone',
				qty: '1x',
				price: '$1000.00',
				totalPrice: '$1000.00',
				category: 'technique'
			},
			{
				title: 'Samsung',
				qty: '1x',
				price: '$800.00',
				totalPrice: '$800.00',
				category: 'technique'
			}
		],
		footer: {
			items: [
				{ label: 'Subtotal', value: '$228.00' },
				{ label: 'Discount', value: '$10.00', discount: true },
				{ label: 'Sales Tax', value: '$10.00' }
			],
			total: '$228.00'
		}
	})}}
	
	<div class="container">
		<div class="section">
			<div class="grid">
				<div class="grid__row">
					{% for item in [
						{ value: '13', label: 'Fast Food', category: 'fast-food', qty: '2' },
						{ value: '21', label: 'Milk', category: 'milk', qty: '2' },
						{ value: '51', label: 'Technique', category: 'technique', qty: '2' },
						{ value: '25', label: 'Furniture', category: 'furniture', qty: '2' },
						{ value: '13', label: 'Food', category: 'food', qty: '2' }
					] %}
						<div class="grid__col">
							<div
								class="discount-card js-discount-coupon"
								data-discount-label="{{item.label}}"
								data-discount-value="{{item.value}}"
								data-discount-category="{{item.category}}"
								data-discount-qty="{{item.qty}}"
							>
								<div class="discount-card__title">{{item.label}}</div>
								<div class="discount-card__footer">
									<div class="discount-card__amount">qty: {{item.qty}}</div>
									<div class="discount-card__price">amount: ${{item.value}}</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
