---
title: 'Approval Request'
headerTitle: 'Discount approval request'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{sidebar.static({
		header: [ 'Sales Rep: Simon Carter', 'Customer: John Doe' ],
		items: [
			{
				title: '7 32GB SVR',
				description: 'SN: 0722222222224426',
				qty: '1x',
				price: '$100.0',
				totalPrice: '$100.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			},
			{
				title: 'Service Payment',
				qty: '1x',
				price: '$128.00',
				totalPrice: '$128.00',
				discount: '($10.00)'
			}
		],
		footer: {
			items: [
				{ label: 'Subtotal', value: '$228.00' },
				{ label: 'Discount', value: '($10.00)', discount: true },
				{ label: 'Sales Tax', value: '$10.00' }
			],
			total: '$228.00'
		}
	})}}
	
	<div class="container">
		<div class="section">
			<div class="form">
				<div class="form__label">Sales representative Simon Carter has request your approval for 10$ discount on order</div>
				<div class="form__field">
					{{mixins.textarea({
						placeholder: 'Type in your comments here'
					})}}
				</div>
				<div class="form__controls">
					<div class="form__control">
						<button class="btn btn_primary btn_wide text-uppercase" data-animation="ripple">Approve</button>
					</div>
					<div class="form__control">
						<button class="btn btn_wide text-uppercase" data-animation="ripple">Decline</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
