{% import "partials/_mixins.html" as mixins %}
<div class="section">
	<div class="sm-grid__body">
		<div class="sm-grid__row">
			<div class="form form_sm">
				<div class="form__section">
					<div class="form__label">Select product return reason</div>
					<ul class="form__list">
						{% for item in [
							{ text: 'Customer satisfaction', name: 'return-reason' },
							{ text: 'MetroPromise', name: 'return-reason' },
							{ text: 'Damaged', name: 'return-reason' }
						] %}
							<li class="form__list-item">
								{{mixins.radio(item)}}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
