{% macro static(props) %}
<!-- begin sidebar -->
<div class="sidebar">
	<div class="sidebar__header">
		<div class="sidebar__header-row">
			{% for item in props.header %}
				<div class="sidebar__header-col">{{item | safe}}</div>
			{% endfor %}
		</div>
	</div>
	<div class="sidebar__body">
		<div class="sidebar__items">
			{% if props.discount %}
				{% set discountProduct = 'js-discount-item' %}
				{% set discountValue = 'js-discount-value' %}
			{% endif %}
			{% for item in props.items %}
				<div class="sidebar-item sidebar__item {{discountProduct}}">
					<div class="sidebar-item__row">
						<div class="sidebar-item__col">
							<div class="sidebar-item__value">{{item.title | safe}}</div>
							{% if item.description %}
								<div class="sidebar-item__sub">{{item.description | safe}}</div>
							{% endif %}
						</div>
						<div class="sidebar-item__col">
							<div class="sidebar-item__row">
								<div class="sidebar-item__col">
									<div class="sidebar-item__value">{{item.qty | safe}}</div>
									<div class="sidebar-item__sub">{{item.price | safe}}</div>
								</div>
								<div class="sidebar-item__col text-right">
									<div class="sidebar-item__value">{{item.totalPrice | safe}}</div>
									{% if not item.discount %}
										{% set hidden = 'is-hidden' %}
									{% endif %}
									<div class="sidebar-item__sub {{hidden}}">
										<span class="{{discountValue}}">{{item.discount | safe}}</span>
										<svg viewBox="0 0 512 512" class="sidebar-item__discount-icon">
											<circle cx="256" cy="378.5" r="25"/>
											<path d="M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256C512,114.516,397.503,0,256,0zM256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z"/>
											<path d="M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="sidebar__footer">
		<div class="sidebar__total">
			<div class="sidebar__total-list">
				{% for item in props.footer.items %}
					<div class="sidebar__total-item">
						<div class="sidebar__total-label">{{item.label | safe}}</div>
						<div class="sidebar__total-value">
							{% if item.discount %}
								<strong>{{item.value | safe}}</strong>
								<svg viewBox="0 0 512 512" class="sidebar__discount-icon">
									<circle cx="256" cy="378.5" r="25"/>
									<path d="M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256C512,114.516,397.503,0,256,0zM256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z"/>
									<path d="M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z"/>
								</svg>
							{% else %}
								{{item.value | safe}}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="sidebar__total-list">
				<div class="sidebar__total-item">
					<div class="sidebar__total-label">Total</div>
					<div class="sidebar__total-value">{{props.footer.total | safe}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end sidebar -->
{% endmacro %}

{% macro cart(props) %}
<!-- begin sidebar -->
<aside class="sidebar sidebar_cart sidebar_disabled" data-toggle-class-container="sidebar-header" data-dropdown-parent="sidebar">
	<div class="sidebar__body" data-order-scroll="order">
		<div class="sidebar__content">
			{% set orderList = [
				{
					title: 'T-Shirt with Print 23',
					meta: 'Long Sleeves, XL size, Black color',
					quantity: '2',
					price: '$20.00',
					total: '$35.00',
					discount: '($5.00)',
					state: 'default'
				},
				{
					title: 'Honey',
					meta: 'Long Sleeves, XL size, Black color <div class="order-item__notes"><a href="#">Note: </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, animi?</div>',
					quantity: '1',
					price: '$8.00',
					total: '$8.00',
					state: 'default'
				}
			] %}
			<ul class="order-list" data-order-visible="order" data-order-list="order">
				{% for item in orderList %}
					<li class="order-item" 
						data-order-added="item" 
						data-animation="ripple" 
						data-swipe="is-open"
						data-swipe-threshold="50">
						<div class="order-item__container">
							<button class="order-item__close" 
								data-fullinfo-close="fullinfo" 
								data-toggle-class-target="sidebar-header" 
								data-toggle-class-remove="is-disabled"
								data-order-delete-item="delete">
								<i class="icon icon-close"></i>
							</button>
							<div class="order-item__content"
								data-fullinfo-open="fullinfo"
								data-toggle-class-target="sidebar-header"
								data-toggle-class-add="is-disabled">
								<div class="order-item__row">
									<div class="order-item__info">
										<div class="order-item__title">{{item.title | safe}}</div>
									</div>
									<div class="order-item__meta">{{item.meta | safe}}</div>
								</div>
								<div class="order-item__row">
									<div class="order-item__col text-left">
										<div class="order-item__quantity">{{item.quantity | safe}}&times;</div>
									</div>
									<div class="order-item__col text-right">
										<div class="order-item__total">{{item.total | safe}}</div>
									</div>
									<div class="order-item__col text-left">
										<div class="order-item__price">{{item.price | safe}}</div>
									</div>
									<div class="order-item__col text-right">
										{% if item.discount %}
											<div class="order-item__discount">{{item.discount | safe}}</div>
										{% else %}
											<div class="order-item__tag"></div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="sidebar__footer">
		<div class="totals sidebar__totals" data-order-visible="order">
			{% set totalsListMain = [
				{
					label: 'Subtotal',
					value: '48.00'
				},
				{
					label: 'Discount',
					value: '($5.00)',
					nodollar: true
				}
			] %}
			{% set totalsListScroll = [
				{
					label: 'TAX',
					value: '4.30'
				}
			] %}
			<div class="totals__container">
				<ul class="totals-list totals-list_main">
					{% for item in totalsListMain %}
						<li class="totals-list__item">
							<div class="totals-list__label">{{item.label | safe}}</div>
							<div class="totals-list__value">{% if not item.nodollar %}${% endif %}{{item.value | safe}}</div>
						</li>
					{% endfor %}
				</ul>
				<ul class="totals-list totals-list_scroll" data-scrollbar="default">
					{% for item in totalsListScroll %}
						<li class="totals-list__item">
							<div class="totals-list__label">{{item.label | safe}}</div>
							<div class="totals-list__value">{% if not item.nodollar %}${% endif %}{{item.value | safe}}</div>
						</li>
					{% endfor %}
				</ul>
				<ul class="totals-list totals-list_scroll">
					<li class="totals-list__item totals-list__item_total">
						<div class="totals-list__label">Total</div>
						<div class="totals-list__value">$47.30</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="toolbar sidebar__toolbar">
			<div class="toolbar__container">
				<div class="toolbar__row">
					<div class="toolbar__col toolbar__col_sm">
						<a href="#" class="btn btn_green btn_lg btn_wide toolbar__button" data-animation="ripple">All Payments</a>
					</div>
					<div class="toolbar__col toolbar__col_lg">
						<a href="#" class="btn btn_green btn_lg btn_wide toolbar__button" data-animation="ripple">Cash</a>
					</div>
				</div>
			</div>
		</div>
		{# {{horizontalMenu.call({
			classList: 'sidebar__menu',
			items: [
				{
					text: 'Save',
					href: 'order-save.html'
				},
				{
					text: 'Notes',
					href: 'order-note.html'
				},
				{
					text: 'Terminal',
					href: 'terminal-cash.html'
				},
				{
					text: 'Drawer',
					href: '#',
					linkClassList: 'is-disabled'
				},
				{
					text: 'Discount',
					href: '#'
				},
				{
					text: 'More <i class="icon icon-more-v"></i>',
					attrs: 'data-dropdown-parent-name="sidebar" id="more-menu-btn"',
					href: '#',
					dropdown: {
						upper: 'sidebar',
						name: 'more',
						classList: 'dropdown-menu_up dropdown-menu_no-scroll',
						attrs: 'id="more-menu-dropdown"',
						links: true,
						list: [ 
							{ text: '<a href="#">Tax exempt</a>' }, 
							{ text: '<a href="#">Revert tax</a>' }, 
							{ text: '<a href="#">Drawer</a>' }, 
							{ text: '<a href="#">Reprint</a>' }, 
							{ text: '<a href="#">Refund</a>' }
						]
					}
				}
			]
		})}} #}
	</div>
</aside>
<!-- end sidebar -->
{% endmacro %}