.sidebar
	position: relative
	z-index: 10
	display: flex
	flex-direction: column
	background: $white
	box-shadow: -3px 5px 4px 5px rgba($black, 0.2)
	word-break: break-word
	+md
		box-shadow: none
	&_cart
		.sidebar__footer
			padding: 0
	&__header,
	&__footer
		flex: 0 0 auto
	&__header
		overflow: hidden
		&-row
			border-bottom: 1px solid rgba($black, 0.1)
			+clr
		&-col
			float: left
			padding: 15px 25px
			width: 50%
			font-size: 16px
			+xs
				width: 100%
			&:not(:last-child)
				border-right: 1px solid rgba($black, 0.1)
				+xs
					border-bottom: 1px solid rgba($black, 0.1)
					border-right: 0
	&__footer
		padding: 15px 0
		border-top: 1px solid rgba($black, 0.1)
		background: #d2edf6
	&__total
		color: $darkGray
		font-size: 14px
		line-height: 16px
		&-list
			&:not(:first-child)
				border-top: 1px solid rgba(#92d4e9, 0.3)
		&-item
			+clr
			&:not(:first-child)
				border-top: 1px dashed rgba(#92d4e9, 0.3)
		&-label,
		&-value
			position: relative
			float: left
			padding: 3px 25px
			width: 50%
			+text-overflow
		&-value
			text-align: right
	&__body
		overflow: auto
		flex: 1 1 auto
	&__item
		border-bottom: 1px solid rgba($black, 0.1)
	&__discount-icon
		position: absolute
		top: 50%
		right: 0
		margin: -8px 5px 0 0
		width: 16px
		fill: currentColor

.sidebar-item
	overflow: hidden
	padding: 10px 25px
	font-size: 0
	&.is-highlight
		background: #eee
	&.is-disabled
		opacity: 0.3
	&__row
		margin: 0 -5px
		+clr
	&__col
		float: left
		padding: 5px
		width: 50%
		.sidebar-item__col
			padding-top: 0
			padding-bottom: 0
	&__value,
	&__sub
		position: relative
		padding: 3px 0
		font-size: 14px
		line-height: 16px
		+xs
			font-size: 13px
		&.is-hidden
			display: none
	&__sub
		color: #ababab
	&__discount
		position: relative
		display: inline-block
		vertical-align: top
		padding: 8px 26px
		margin-top: 2%
		margin-right: 2%
		width: 31%
		color: #333
		background: #eee
		box-shadow: 0 0 1px rgba($black,.2), 0 2px 4px rgba($black,.1)
		text-align: center
		cursor: pointer
		user-select: none
		-webkit-tap-highlight-color: none
		transition: box-shadow .15s ease-in-out
		&-label,
		&-value
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		&-label
			font-size: 14px
		&-value
			margin-top: 4px
			font-size: 12px
	&__discount-icon
		position: absolute
		top: 50%
		left: 100%
		margin: -8px 0 0 3px
		width: 16px
		fill: currentColor
	&__delete
		position: absolute
		top: 0
		right: 0
		width: 26px
		height: 26px
		background: none
		&-icon
			position: absolute
			top: 5px
			left: 5px
			right: 5px
			bottom: 5px
			transform: rotate(-45deg)
			&:before,
			&:after
				content: ''
				position: absolute
			&:before
				top: 50%
				left: 0
				right: 0
				margin-top: -1px
				border-top: 2px solid $red
			&:after
				top: 0
				left: 50%
				bottom: 0
				margin-left: -1px
				border-left: 2px solid $red
